html, body{
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    min-width: 260px;
    background-color: gainsboro;
}

#main {
    margin: 30px  auto;
    padding: 15px;
    border 0px;
    border-radius: 5px;
    
}

#title {
    font-family:'Ultra';
    font-size: 36px;
    text-decoration: underline;
}

.h4 {
    font-size: 26px;
}
.img {
    max-width: 100%;
    display:block;
    height: auto;
    margin: auto;
/*    width: 1400px;*/
}



#img-div {
    margin: -5px;
    margin-top: 20px;
    width: 100%;
    border: 5px solid white;
    background: white;
    height: 750px;
/*    object-fit: fill;*/
        
}

#img-caption {
    margin: 15px;
}


#headline {
    margin-top: 50px;
    text-align: left;
}

ul {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

li {
    margin: 10px;
}















